.purple {
  background-color: #6200EA;
  color: white;
}

.bigbanner {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0;
  text-align: center;
}

body {
  margin-top: 0;
}

.app-icon {
  background: url("res/icon.svg");
  height: 20em;
  display: inline-block;
  width: 20em;
  background-size: 20em;
  border: 10px solid white;
  border-radius: 20em;
  padding: 2em;
  background-position: center;
  background-repeat: no-repeat;
}

.shrunk {
  font-size: 0.5em;
}

.content {
  text-align: center;
}

.page {
  min-height: 90vh;
}

.halfpage {
	min-height: 45vh;
}

.bigtext {
  font-size: 2em;
}

.content img {
  max-width: 33vw;
  margin: 2em;
}

.section-header {
  font-size: 3em;
  text-align: center;
  display: block;
  margin: 1em;
  min-height: 30vh;
}

a {
	color: white;
	/* Used on purpose because it's funny */
}

.partwidth {
  max-width: 50vw;
  margin-left: 25vw;
}

figure {
  display: inline-block;
  margin: 0.5em;
}
.download-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.jump {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4700AA;
}

.attribution {
	font-size: 0.75em;
	text-align: center;
}
