span.a, span.q {
  display: block;
  margin-left: 1.5em;
}

span.a {
  margin-bottom: 25vh;
}

span.q {
  margin-bottom: 1.5em;
}

span.a:before, span.q:before {
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  margin-left: -1.5em;
  margin-right: 0.5em;
}

span.q:before {
  content: "Q. ";
}

span.a:before {
  content: "A. ";
}

.faqheader {
  display: inline-block;
  top: -1.2em;
  font-size: 4em;
  position: relative;
  margin-left: 1em;
}